<div class="row-fluid">
  <div class="span3">
    <ul>
      {{#each customer in controller}}
        <li>{{#linkTo 'customer' customer}}{{ customer.name }}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="span9">{{ outlet }}</div>
</div>